.home2page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home2page-home2page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home2page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 126px;
  position: absolute;
}
.home2page-rectangle2 {
  top: 965px;
  left: 0px;
  width: 1440px;
  height: 59px;
  position: absolute;
}
.home2page-rectangle3 {
  top: 126px;
  left: 0px;
  width: 1440px;
  height: 129px;
  position: absolute;
}
.home2page-frame5 {
  gap: 26px;
  top: 0px;
  left: 564px;
  width: 845px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home2page-frame1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-line1 {
  width: 126px;
  height: 1px;
}
.home2page-frame2 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-line2 {
  width: 126px;
  height: 1px;
}
.home2page-frame3 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-line3 {
  width: 126px;
  height: 1px;
}
.home2page-frame4 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-rectangle5 {
  top: 0px;
  left: 1421px;
  width: 19px;
  height: 965px;
  position: absolute;
}
.home2page-frame6 {
  top: 0px;
  left: 1421px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.home2page-frame7 {
  top: 945px;
  left: 1421px;
  width: 19px;
  height: 20px;
  position: absolute;
}
.home2page-rectangle6 {
  top: 24px;
  left: 1426px;
  width: 10px;
  height: 103px;
  position: absolute;
  border-radius: 90px;
}
.home2page-line4 {
  top: 415px;
  left: -3px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
.home2page-line5 {
  top: 551px;
  left: 3px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
.home2page-rectangle10 {
  top: 446px;
  left: 71px;
  width: 82px;
  height: 73px;
  position: absolute;
}
.home2page-text18 {
  top: 445px;
  left: 177px;
  color: rgba(0, 0, 0, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame17 {
  gap: 10px;
  top: 453px;
  left: 1090px;
  width: 141px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(185, 153, 118, 1);
}
.home2page-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame26 {
  gap: 10px;
  top: 936px;
  left: 1114px;
  width: 93px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(185, 153, 118, 1);
}
.home2page-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text24 {
  top: 483px;
  left: 184px;
  color: rgba(0, 0, 0, 1);
  width: 809px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text26 {
  top: 276px;
  left: 615px;
  color: rgba(0, 0, 0, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text27 {
  font-weight: 700;
}
.home2page-text29 {
  font-weight: 700;
}
.home2page-rectangle11 {
  top: 341px;
  left: 495px;
  width: 462px;
  height: 42px;
  position: absolute;
  border-radius: 20px;
}
.home2page-rectangle12 {
  top: 341px;
  left: 495px;
  width: 141px;
  height: 42px;
  position: absolute;
  border-radius: 20px;
}
.home2page-frame18 {
  gap: 10px;
  top: 572px;
  left: 71px;
  width: 153px;
  height: 34px;
  display: flex;
  padding: 6px 18px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 1);
}
.home2page-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text33 {
  top: 572px;
  left: 252px;
  color: rgba(0, 0, 0, 1);
  width: 521px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text34 {
  font-weight: 700;
}
.home2page-text36 {
  font-weight: 700;
}
.home2page-text38 {
  top: 788px;
  left: 252px;
  color: rgba(0, 0, 0, 1);
  width: 521px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text39 {
  font-weight: 700;
}
.home2page-text41 {
  font-weight: 700;
}
.home2page-text43 {
  top: 866px;
  left: 252px;
  color: rgba(0, 0, 0, 1);
  width: 521px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text44 {
  font-weight: 700;
}
.home2page-text46 {
  font-weight: 700;
}
.home2page-text48 {
  top: 650px;
  left: 252px;
  color: rgba(0, 0, 0, 1);
  width: 521px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text49 {
  font-weight: 700;
}
.home2page-text51 {
  font-weight: 700;
}
.home2page-text55 {
  top: 591px;
  left: 853px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text57 {
  top: 700px;
  left: 853px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text59 {
  top: 807px;
  left: 853px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text61 {
  top: 878px;
  left: 853px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text63 {
  top: 577px;
  left: 1107px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text65 {
  top: 686px;
  left: 1107px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text67 {
  top: 774px;
  left: 1107px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text69 {
  top: 858px;
  left: 1107px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text71 {
  top: 622px;
  left: 1134px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text73 {
  top: 731px;
  left: 1134px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text75 {
  top: 819px;
  left: 1134px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-text77 {
  top: 903px;
  left: 1134px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame22 {
  top: 597px;
  left: 1119px;
  width: 84px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home2page-frame191 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text79 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame201 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.home2page-text80 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame211 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text81 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame23 {
  top: 706px;
  left: 1119px;
  width: 84px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home2page-frame192 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text82 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame202 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.home2page-text83 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame212 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text84 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame24 {
  top: 794px;
  left: 1119px;
  width: 84px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home2page-frame193 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text85 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame203 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.home2page-text86 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame213 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text87 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame25 {
  top: 878px;
  left: 1119px;
  width: 84px;
  display: flex;
  position: absolute;
  align-items: center;
}
.home2page-frame194 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text88 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame204 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.home2page-text89 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home2page-frame214 {
  gap: 10px;
  width: 28px;
  height: 25px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(128, 128, 128, 1);
}
.home2page-text90 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
