.succesfulresetpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.succesfulresetpage-succesfulresetpage {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.succesfulresetpage-backgroundlogin {
  top: 0px;
  left: 720px;
  width: 720px;
  height: 1024px;
  position: absolute;
}
.succesfulresetpage-rectangle8 {
  top: 241px;
  left: 156px;
  width: 461px;
  height: 541px;
  position: absolute;
  border-radius: 30px;
}
.succesfulresetpage-frame10 {
  gap: 12px;
  top: 497px;
  left: 280px;
  width: 233px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.succesfulresetpage-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.succesfulresetpage-frame8 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.succesfulresetpage-text3 {
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.succesfulresetpage-frame12 {
  gap: 10px;
  top: 671px;
  left: 280px;
  width: 213px;
  height: 49px;
  display: flex;
  padding: 7px 36px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.succesfulresetpage-text5 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.succesfulresetpage-image2 {
  top: 253px;
  left: 258px;
  width: 256px;
  height: 219px;
  position: absolute;
}
