.signuppage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signuppage-signuppage {
  width: 100%;
  height: 551px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.signuppage-backgroundlogin {
  top: 0px;
  left: 720px;
  width: 560px;
  height: 551px;
  position: absolute;
}
.signuppage-rectangle8 {
  top: 76px;
  left: 170px;
  width: 362px;
  height: 377px;
  position: absolute;
  border-radius: 30px;
}
.signuppage-frame10 {
  gap: 12px;
  top: 116px;
  left: 227px;
  width: 284px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signuppage-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signuppage-frame29 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signuppage-frame8 {
  width: 123px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-start;
}
.signuppage-text14 {
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.signuppage-frame12 {
  gap: 10px;
  top: 409px;
  left: 291px;
  width: 126px;
  height: 33px;
  display: flex;
  padding: 7px 36px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
.signuppage-text15 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.signuppage-frame13 {
  gap: 4px;
  top: 182px;
  left: 237px;
  width: 226px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signuppage-text16 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.signuppage-rectangle91 {
  width: 226px;
  height: 25px;
}
.signuppage-frame14 {
  gap: 4px;
  top: 230.400390625px;
  left: 238.307861328125px;
  width: 226px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signuppage-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signuppage-rectangle92 {
  width: auto;
  height: 22px;
  align-self: stretch;
}
.signuppage-frame15 {
  gap: 4px;
  top: 287.400390625px;
  left: 238.307861328125px;
  width: 226px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signuppage-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signuppage-rectangle93 {
  width: auto;
  height: 22px;
  align-self: stretch;
}
.signuppage-frame16 {
  gap: 4px;
  top: 344.400390625px;
  left: 238.307861328125px;
  width: 226px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.signuppage-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.signuppage-rectangle94 {
  width: auto;
  height: 21px;
  align-self: stretch;
}
.signuppage-frame30 {
  gap: 10px;
  top: 161px;
  left: 389px;
  width: 73px;
  height: 25px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.signuppage-text23 {
  color: rgba(42, 25, 244, 1);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
